*.sav
NewSonicThing/a.out
makebuild
.vs
NewSonicThing/x64
x64
NewSonicThing/NewSonicThing.exe
.vscode/ipch
NewSonicThing/SAB2.out
NewSonicThing/RaceLog.txt
NewSonicThing/NewSonicThing.pdb
NewSonicThing/src/SourceCodeCleaner.exe
NewSonicThing/Settings/ControllerLog.txt
NewSonicThing/res/SaveData/*